<div class="row h-100 mb-5">
    <div class="container">
        <div class="row h-100 d-flex justify-content-center">
            <div class="col-sm-8 my-auto">
                <div class="card card-block w-100" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Post Information</h5>
                        <h6 class="card-subtitle mb-2 text-muted">You are seeing this message because there are no posts currently available.</h6>
                        <p class="card-text">Place holder text</p>
                        <a href="{{ url_for('tutorial') }}" class="card-link">Learn why</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>